{% extends "mycareerpath/layout.html" %}

{% block body %}
<div class="flex-grow-10"></div>
<div class="d-flex flex-column align-items-center">
    <h1 class="mb-4">Add Custom Job</h1>
    <div class="width-shorten align-items-center">
    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div class="error">{{ form.non_field_errors }}</div>
        <div class="mb-3">
            {{ form.job_title }}
            {% if form.job_title.error %}
                <div class="error">{{ form.job_title.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.employer_name }}
            {% if form.employer_name.error %}
                <div class="error">{{ form.employer_name.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.job_location }}
            {% if form.job_location.error %}
                <div class="error">{{ form.job_location.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.job_apply_link }}
            {% if form.job_apply_link.error %}
                <div class="error">{{ form.job_apply_link.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center mb-3">
            <button type="submit" class="btn btn-primary mb-2 width-shorten">Add</button>
        </div>
    </form>
    </div>
</div>
<div class="flex-grow"></div>
{% endblock %}