{% extends 'mycareerpath/layout.html' %}
{% load static %}

{% block body %}
    <div class="search-div">
        <div class="listings-div">
            <h5 class="ms-2">Results for <u class="text-secondary">{{ query }}</u>:</h5>
            <div class="listings mb-auto">
                {% for listing in results %}
                    {% include 'mycareerpath/listing_item.html' %}
                {% endfor %}
            </div>
            <div>
                <nav aria-label="Page navigation">
                    <ul class="pagination pt-2 mb-0">
                        {% if page > 1 %}
                            <li class="page-item"><a href="?q={{ query }}&country={{ country }}&page={{ page|add:'-1' }}" class="page-link">Previous</a></li>
                        {% endif %}
                        {% for i in pages %}
                            {% if i == page %}
                                <li class="page-item"><span class="page-link active">{{ i }}</span></li>
                            {% else %}
                                <li class="page-item"><a href="?q={{ query }}&country={{ country }}&page={{ i }}" class="page-link">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if results|length > 9 %}
                            <li class="page-item"><a href="?q={{ query }}&country={{ country }}&page={{ page|add:'1' }}" class="page-link">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% csrf_token %}
        <div class="info mb-auto">
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'mycareerpath/info.js' %}"></script>
{% endblock %}